extends layout

block content
  h1= title

  ul
    each category, index in categoryList
      li
        a(href=category.url) #{ category.name }
        if (index !== categoryList.length - 1)
          hr
